@model Activities
<!DOCTYPE html>
<meta charset="utf-8" />

<head>
    <title>My Activities</title>
    <link href="~/css/styles.css" rel="stylesheet" />
</head>

<h1>Activity Details</h1>

ID: @Model.id <br/>
DogID: @Model.dogid <br/>
LocationID: @Model.locationid <br />
Date: @Model.date <br />
Start Time: @Model.startTime <br/>
End Time: @Model.endTime <br />
Duration: @Model.duration <br />
Weather: @Model.weather <br />
Distance: @Model.distance <br />
Notes: @Model.notes <br />

